.card_container{
    display: flex;
    flex-direction: column;
    
}


.text_area {
    border-radius: var(--rounded-md, 6px);
    border: 1px solid var(--border, #D4D4D4);
    background: #FFF;
    padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
    min-height: 100px; 
    resize: vertical;  
    font-size: 16px;   
    line-height: 1.5;  
}

/* Estilos adicionales para el foco */
.text_area:focus {
    border-color: #66afe9; 
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
