.Button{
    text-align: center;
    border-radius: 6px;
    border: none;
    color: white;
    display: flex;
    height: 44px;
    padding: var(--spacing-2, 8px) var(--spacing-8, 32px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2, 8px);
    align-self: stretch;
    transition: transform 0.1s;
}

.Button:hover {
    transform: scale(1.05);
    background-color: #8347e2;
}

.Button:active {
    transform: scale(1.10);
}



.Primary{
    background: #6D28D9;
}

.Secondary{
    border-radius: var(--rounded-md, 6px);
    border: 1px solid var(--border, #D4D4D4);
    color: black;
    font-weight: bold;
    background: var(--background, #FFF) !important;
}

.flex-start{
    justify-content: flex-start !important;
}

.LogOut{
    color: black;
    font-weight: bold;
    border-radius: var(--rounded-md, 6px);
    background: var(--secondary, #E5E5E5) !important;
}

.Danger{
    color: var(--danger-foreground, #450A0A);
    border-radius: var(--rounded-md, 6px);
    border: 1px solid var(--danger-border, #DC2626);
    background-color: #FEF2F2;
}

.Danger:hover {
    background-color: #DC2626 !important;
    color: white;
}

