.Button{
    text-align: center;
    border-radius: 6px;
    background: #6D28D9;
    /* justify-content: center;
    align-items: center; */

    display: flex;
    height: 44px;
    padding: var(--spacing-2, 8px) var(--spacing-8, 32px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-2, 8px);
    align-self: stretch;
}

