@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.form{
    display: flex;
    flex-direction: column;
    width: 320px;
    gap: 16px;
}


.link_{
    font-family: Inter;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    text-decoration: none;
}
