.Form_input{
    display: flex;
    height: 40px;
    padding: var(--spacing-2, 8px) var(--spacing-3, 12px);
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
    border-radius: var(--rounded-md, 6px);
    border: 1px solid var(--border, #D4D4D4);
    background: var(--background, #FFF);
}