@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@500&display=swap');
.HeroTitle{
    color: var(--foreground, #171717);
    font-family: "Familjen Grotesk";
    max-width: 220px;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    line-height: 36px;
    /* position: relative; */
}

.sm{
    font-size: 14px !important;
}

.smm{
    font-size: 18px !important;
}

.md{
    font-size: 24px !important;
}

.lg{
    font-size: 32px !important;
}

